My name is Melissa Elizabeth. <br>
<div ng-repeat="student in ac.classList">
{{student}}
</div>

I love Captain Crunch, Coffee, Castlevania, and Corgis!
<br><br>

<img src="https://yt3.ggpht.com/-Dq13f9OxQnY/AAAAAAAAAAI/AAAAAAAAAAA/mbXw6bn5Nx0/s900-c-k-no-mo-rj-c0xffffff/photo.jpg" height="300" width="300">
<img src="http://images.smh.com.au/2011/07/15/2494516/th-coffee-420x0.jpg" height="300" width="300">
<img src="http://cdn02.nintendo-europe.com/media/images/10_share_images/games_15/game_boy_advance_7/SI_GBA_Castlevania.jpg" height="300" width="300">
<img src="http://cdn.akc.org/corgi-4.jpg" height="300" width="300">

<br><br>

Sign my Guestbook!
